language: php
php:
  - '7.1'
  - nightly

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - travis_retry composer self-update


install:
  - composer install --no-interaction --prefer-dist --no-suggest


script: vendor/bin/phpunit
